<html>
<head>
 simple example program 
</head>
<body>
<form name="example" method="POST" action="example" >
<input type="text" name="first_name"/>
<input type="text" name="last_name"/>
<input type="submit" value="submit"/>
</form>
</body>
</html>





